name: Publish Container Image

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  publish:
    runs-on: ubuntu-22.04
    timeout-minutes: 20
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

  test-published-container:
    runs-on: ubuntu-22.04
    needs: publish
    timeout-minutes: 5

    steps:
      - name: Run the container
        run: docker run -d --rm --name chromefleet -p 8300:8300 ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Run the health check validation
        run: while ! curl -s 'http://localhost:8300/health' | grep 'OK'; do sleep 1; done
        timeout-minutes: 3

      - name: Get the container logs
        run: docker logs --details chromefleet
        if: always()
